<div class="cnt cnt-blu blog-thumb">
  <div class="blog-dashboard">
    <div class="blog-votes">{{votes}}</div>
    <div class="blog-comment-count"><a href="#">{{comment_count}}条评论</a></div>
  </div>
  <h3><a href="#">{{title}}</a></h3>
  <p class="blog-abs">{{abstract}}</p>
  <p class="blog-tags">
    {{#each tags}}
      <a href="#" class="label label-default">{{this}}</a>
    {{/each}}
  </p>
  <p class="blog-footer">
    ATR >> <a href="#">{{author}}</a> > @{{time}}
  </p>
</div>