<div class="cnt cnt-red question-thumb">
  <div class="question-dashboard">
    <div class="question-votes">{{votes}}</div>
    <div class="question-answers">{{answers}}</div>
  </div>
  <h3>
    <a href="#{{title}}">{{title}}</a>
  </h3>
  <p class="question-tags">
    {{#each tags}}
      <a href="#" class="label label-default">{{this}}</a>
    {{/each}}
  </p>
  <p class="blog-footer">
    ATR >> <a href="#">{{author}}</a> > @{{time}}
  </p>
</div>